.home-page{
    height: 100vh;
    width: 100%;
    padding: 72px 10% 72px 10%;
    position: relative;
}

.home-header{
    width: 60%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.home-header h1{
    font-size: 62px;
    margin-bottom: 5px;
    font-family: 'Rubik', sans-serif;
}

.home-header p{
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 1.75rem;
    font-family: 'Mada', sans-serif;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: var(--secondary);
}

.blob-svg{
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
}
.about-section{
    font-family: 'Rubik', sans-serif;
    padding: 25px 10% 50px 10%;
    height: fit-content;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.about-section h1{
    font-size: 52px;
}

.about-section h2{
    font-size: 32px;
}

.about-container{
    padding: 20px 20px 20px 0;
    width: 50%;
}
.about-container p{
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Mada', sans-serif;

    line-height: 2rem;
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
}

.separator{
    width: 100%;
    z-index: -10;
}

.custom-shape-divider-bottom-1655379804 {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1655379804 svg {
    position: relative;
    display: block;
    width: calc(151% + 1.3px);
    height: 180px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1655379804 .shape-fill {
    fill: #000000;
}


@media screen and (min-width: 2000px){
    .home-header h1{
        font-size: 15rem;
        font-family: 'Rubik', sans-serif;
    }
    
    .home-header p{
        font-size: 3rem;
        font-family: 'Rubik', sans-serif;
        margin-left: 10px;
    }
}

@media screen and (max-width: 900px){
    .home-header{
        width: 100%;
    }
    .about-container{
        width: 100%;
    }
}

@media screen and (max-width: 560px){
    .home-header{
        align-items: center;
        text-align: center;
    }

    .home-page{
        padding: 72px 5%;
    }

    .about-container{
        text-align: center;

    }
}