.lesson-view{
    display: flex;
    justify-content: center;
    font-family: "Rubik";
}

.lesson-wrapper{
    width: 100%;
    max-width: 700px;
}

.lesson-description{
    max-width: 600px;
    width: 100%;
}

.lesson-description h1{
    margin-bottom: 25px;
}

.lesson-text{
    margin: 20px 0;
}

.lesson-footer{
    display: flex;
    width: 100%;
}

.lesson-buttons{
    display: flex;
    width: 50%;
}


@media screen and (max-width:474px){
    .lesson-view{
        padding: 72px 5%;
    }
}