.logo{
    margin-right: 20px;
    width: 400px;
}

.logo-span{
    color: rgb(203, 15, 15);
}

.navbar{
    width: 100%;
    font-family: 'Rubik', sans-serif;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 10px 5%;
}

.links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.link{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.link:hover{
    color: rgb(203, 15, 15);
}