.question-wrapper{
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-footer{
    width: 100%;
}

.answers{
    width: 50%;
}