@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Mada', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Mada', sans-serif;
}

:root{
  --secondary:rgb(176, 11, 11); 
  --secondary-disabled:rgb(185, 89, 89); 
  --secondary-dark:rgb(112, 8, 8);
  --primary:black;

}

.page{
  padding: 72px 10% 0px 10%;
}

@media screen and (max-width: 474px){
  .page{
    padding: 72px 5% 0px 5%;
  }
}

a{
  text-decoration: none;
}